/* head 1 */
.sharing-default-minimal .nectar-love.loved,
body .nectar-social[data-color-override="override"].fixed > a:before,
body .nectar-social[data-color-override="override"].fixed .nectar-social-inner a,
.sharing-default-minimal .nectar-social[data-color-override="override"] .nectar-social-inner a:hover {
  background-color: #dd3333;
}
.nectar-social.hover .nectar-love.loved,
.nectar-social.hover > .nectar-love-button a:hover,
.nectar-social[data-color-override="override"].hover > div a:hover,
#single-below-header .nectar-social[data-color-override="override"].hover > div a:hover,
.nectar-social[data-color-override="override"].hover .share-btn:hover,
.sharing-default-minimal .nectar-social[data-color-override="override"] .nectar-social-inner a {
  border-color: #dd3333;
}
#single-below-header .nectar-social.hover .nectar-love.loved i,
#single-below-header .nectar-social.hover[data-color-override="override"] a:hover,
#single-below-header .nectar-social.hover[data-color-override="override"] a:hover i,
#single-below-header .nectar-social.hover .nectar-love-button a:hover i,
.nectar-love:hover i,
.hover .nectar-love:hover .total_loves,
.nectar-love.loved i,
.nectar-social.hover .nectar-love.loved .total_loves,
.nectar-social.hover .share-btn:hover,
.nectar-social[data-color-override="override"].hover .nectar-social-inner a:hover,
.nectar-social[data-color-override="override"].hover > div:hover span,
.sharing-default-minimal .nectar-social[data-color-override="override"] .nectar-social-inner a:not(:hover) i,
.sharing-default-minimal .nectar-social[data-color-override="override"] .nectar-social-inner a:not(:hover) {
  color: #dd3333;
}
/* /head 1 */

html body[data-header-resize="1"] .container-wrap,
html body[data-header-resize="0"] .container-wrap,
body[data-header-format="left-header"][data-header-resize="0"] .container-wrap {
  padding-top: 0;
}
html:not(.page-trans-loaded) {
  background-color: #ffffff;
}
/* head 2 */
.no-rgba #header-space {
  display: none;
}
@media only screen and (max-width: 999px) {
  body #header-space[data-header-mobile-fixed="1"] {
    display: none;
  }
  #header-outer[data-mobile-fixed="false"] {
    position: absolute;
  }
}
@media only screen and (max-width: 999px) {
  body:not(.nectar-no-flex-height) #header-space[data-secondary-header-display="full"]:not([data-header-mobile-fixed="false"]) {
    display: block !important;
    margin-bottom: -50px;
  }
  #header-space[data-secondary-header-display="full"][data-header-mobile-fixed="false"] {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  #header-space {
    display: none;
  }
  .nectar-slider-wrap.first-section, .parallax_slider_outer.first-section, .full-width-content.first-section, .parallax_slider_outer.first-section .swiper-slide .content, .nectar-slider-wrap.first-section .swiper-slide .content, #page-header-bg, .nder-page-header, #page-header-wrap, .full-width-section.first-section {
    margin-top: 0 !important;
  }
  body #page-header-bg, body #page-header-wrap {
    height: 100px;
  }
  body #search-outer {
    z-index: 100000;
  }
}
@media only screen and (min-width: 1000px) {
  #page-header-wrap.fullscreen-header, #page-header-wrap.fullscreen-header #page-header-bg, html:not(.nectar-box-roll-loaded) .nectar-box-roll > #page-header-bg.fullscreen-header, .nectar_fullscreen_zoom_recent_projects, #nectar_fullscreen_rows:not(.afterLoaded) > div {
    height: 100vh;
  }
  .wpb_row.vc_row-o-full-height.top-level, .wpb_row.vc_row-o-full-height.top-level > .col.span_12 {
    min-height: 100vh;
  }
  #page-header-bg[data-alignment-v="middle"] .span_6 .inner-wrap, #page-header-bg[data-alignment-v="top"] .span_6 .inner-wrap {
    padding-top: 70px;
  }
  .nectar-slider-wrap[data-fullscreen="true"]:not(.loaded), .nectar-slider-wrap[data-fullscreen="true"]:not(.loaded) .swiper-container {
    height: calc(100vh + 2px) !important;
  }
  .admin-bar .nectar-slider-wrap[data-fullscreen="true"]:not(.loaded), .admin-bar .nectar-slider-wrap[data-fullscreen="true"]:not(.loaded) .swiper-container {
    height: calc(100vh - 30px) !important;
  }
}
@media only screen and (max-width: 999px) {
  #page-header-bg[data-alignment-v="middle"]:not(.fullscreen-header) .span_6 .inner-wrap, #page-header-bg[data-alignment-v="top"] .span_6 .inner-wrap {
    padding-top: 49px;
  }
  .vc_row.top-level.full-width-section:not(.full-width-ns) > .span_12, #page-header-bg[data-alignment-v="bottom"] .span_6 .inner-wrap {
    padding-top: 24px;
  }
}
@media only screen and (max-width: 690px) {
  .vc_row.top-level.full-width-section:not(.full-width-ns) > .span_12 {
    padding-top: 49px;
  }
  .vc_row.top-level.full-width-content .nectar-recent-posts-single_featured .recent-post-container > .inner-wrap {
    padding-top: 24px;
  }
}
@media only screen and (max-width: 999px) {
  .full-width-ns .nectar-slider-wrap .swiper-slide[data-y-pos="middle"] .content, .full-width-ns .nectar-slider-wrap .swiper-slide[data-y-pos="top"] .content {
    padding-top: 30px;
  }
}
/* /head 2 */

.vc_custom_1486684329109 {
  background-color: #ffffff !important;
}
.vc_custom_1580403940081 {
  margin-top: 40px !important;
}
.vc_custom_1580838612552 {
  margin-bottom: 30px !important;
}
.vc_custom_1580837365348 {
  margin-bottom: 30px !important;
}
.vc_custom_1584544072880 {
  margin-bottom: 30px !important;
}
.vc_custom_1580837360017 {
  margin-bottom: 30px !important;
}
.vc_custom_1580837371379 {
  margin-bottom: 30px !important;
}
.vc_custom_1580837376800 {
  margin-bottom: 30px !important;
}
.vc_custom_1580837380906 {
  margin-bottom: 30px !important;
}
.vc_custom_1577125127944 {
  margin-bottom: 35px !important;
}
/*  */
.row-bg-overlay {
  background-color: rgb(45, 45, 45);
}
.using-bg-color {
  background-color: #ECDA39;
}
.column-image-bg-1 {
  background-image: url(../images/bg-1.jpg);
}
.column-image-bg-2 {
  background-image: url(../images/bg-2.jpg);
}
.column-image-bg-3 {
  background-image: url(../images/bg-3.jpg);
}

.ag-text_text {
  display: inline-block;
  margin: 10px 0 0;
}
.ag-text_dark {
  color: #000 !important;
}
.ag-text_light {
  color: #ECDA39 !important;
}

#ag-influence .ag-header_title {
  line-height: 1;

  font-family: Roboto, sans-serif;
  font-size: 50px;
}
#ag-influence .ag-header_tagline {
  line-height: 1.2;

  font-size: 20px;
}

#ag-influence .ag-slogan {
  padding: 15px 25px;
  background-color: #ECDA39;
}
#ag-influence .ag-slogan_text {
  font-size: 20px;
  color: #000;
}
#ag-influence .ag-slogan_text-v2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  color: #000;
}

#ag-influence .ag-contact_text {
  font-size: 20px;
  color: #ECDA39;
}
.ag-social_list {
  margin: 0;
}
.ag-social_item {
  margin: 0 0 20px;

  list-style: none outside none;
}
.ag-social_link:hover .iwt-text {
  text-decoration: underline;
}
.ag-social_list .icon-default-style:before {
  color: #ECDA39;
}
.iwt-text {
  font-size: 20px;
  color: #ECDA39;
}

.ag-review-social_btn:hover .fa-instagram:before,
.ag-review-social_btn:hover .ag-review-social_link {
  color: #ECDA39;
}
.ag-review-social_btn .ag-review-social_link {
  font-size: 20px;
}

#ag-influence .ag-footer_text {
  font-size: 16px;
  color: #ECDA39;
}
#ag-influence .ag-footer_slogan {
  padding: 15px 30px;
  background-color: #ECDA39;

  font-weight: bold;
  font-size: 18px;
  color: #000;
}

#ag-map .arrow::before {
  margin-top: -20px;
}
#ag-map .arrow::after {
  margin-top: -6px;
}
#ag-map .link_text::after {
  margin-top: -19px;
}

#ag-influence .ag-tab_text {
  padding: 0 0 15px;

  color: #FFF;
}
#ag-influence .ag-tab_text p {
  padding: 0;
}

#ag-influence .ag-tab_box {
  padding: 20px 10%;
  background-color: #222;
}
#ag-influence h4.ag-text_light {
  font-family: Roboto, sans-serif;
}
#ag-influence .item_name h4,
#ag-influence .item_price h4 {
  font-family: Roboto, sans-serif;
}
.ag-gutscheine_figure {
  max-width: 400px;
}

#gallery .row-bg-overlay {
  background-color: #000;

  z-index: 0;
}

#ag-influence .ag-gallery-tab_list {
  margin: 60px 0;

  text-align: center;

  z-index: 2;
  position: relative;
}
#ag-influence .ag-gallery-tab_panel {
  z-index: 2;
  position: relative;
}
#ag-influence .ag-gallery-tab_item {
  float: none;
  display: inline-block;
  margin: 0 50px;
}
#ag-influence .ag-gallery-tab_link {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  min-width: 200px;
  padding: 0 20px;
  border: 0;
  background-color: #ECDA39;

  outline: 1px solid #ECDA39;
  outline-offset: 4px;

  font-weight: bold;
  font-size: 20px;
  color: #000;

  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}
#ag-influence .ag-gallery-tab_link.active-tab,
#ag-influence .ag-gallery-tab_link:hover {
  background-color: #6EB53B;

  outline: 1px solid #6EB53B;

  color: #FFF;

  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}
#ag-influence .ag-gallery-tab_link.active-tab {
  cursor: default;
}

.ag-footer-phone_link {
  display: inline-block;
  margin: 0 auto;
  padding: 0 0 0 25px;

  position: relative;
}
#ag-influence .ag-footer-phone_icon {
  line-height: 20px;
  height: 20px;
  width: 20px;
  margin-right: 0;

  font-size: 20px;
  color: #ECDA39;

  position: absolute;
  top: 5px;
  left: 0;
}
#ag-influence .ag-footer-phone_text {
  color: #ECDA39;
}
#ag-influence .ag-footer-phone_link:hover .ag-footer-phone_icon,
#ag-influence .ag-footer-phone_link:hover .ag-footer-phone_text {
  color: #FFF;
}

@media only screen and (max-width: 1600px) {
  .tabbed[data-style="minimal_alt"] > ul li:not(.cta-button) {
    margin: 0 10px !important;
  }
}

@media only screen and (max-width: 999px) {
  #ag-influence .ag-gallery-tab_item {
    margin: 0 30px;
  }
}

@media only screen and (max-width: 767px) {
  #ag-influence .ag-gallery-tab_item {
    margin: 0 20px;
  }
  #ag-influence .ag-gallery-tab_link {
    min-width: 150px;
  }
}

@media only screen and (max-width: 479px) {
  #ag-influence .ag-gallery-tab_item {
    margin: 0 10px;
  }
  #ag-influence .ag-gallery-tab_link {
    min-width: 100px;
  }

  .ag-map_text {
    display: inline-block;
    width: 80%;

    vertical-align: middle;
  }
  .ag-map_link {
    display: inline-block;
    width: 30px;

    vertical-align: middle;
  }
}